<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <p>Coin Counting FOMO</p>
    </header>
    <main>
        <h1 hidden>Coin Counting FOMO</h1>
        <section>
            <div id="video">
                <h2>Real Time Video</h2>
                <img src="{{ url_for('video_feed') }}" alt="Live Stream">
            </div>
            <div id="resultado">
                <h2>Quantidades e Resultado</h2>
                <p class="moeda">Moeda 10 centavos: <span id="valor10">0</span></p>
                <p class="moeda">Moeda 50 centavos: <span id="valor50">0</span></p>
                <p class="moeda">Moeda 1 real:      <span id="valor100">0</span></p>
                <p class="separador"></p>
                <p class="total">Total:             <span id="total">R$0.00</span></p>
            </div>
        </section>
    </main>
    <footer>
        <p>Feito por Roldão, Ryan & Rodrigo</p>
    </footer>
    <script src="../static/main.js"></script>
</body>
</html>
